html
    head
        title Weather
        link(rel='icon',href='/img/weather.png')
        link(rel='stylesheet',href='/css/styles.css')       	
    body
        div(class='main-content')
            include ../partials/header

            p Use this site to get your weather!
            form
                input(placeholder='Location')
                button Search
            p#message-1
            p#message-2
            
        include ../partials/footer
        script(src='/js/app.js')

